NEXT_PUBLIC_SUPABASE_URL=https://epzrrsaibqdcaafkvwmm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_VpACMTNTd8tuMwD0E0reyg_mPtISnr2
SUPABASE_SERVICE_ROLE_KEY=sb_secret_ALlo773bpS_kH_QSgmkVzA_O-VNLq5B
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=Ampy Digital
